<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Itim"/>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2018-05-10/8f7c846fdd3532d810fd9650c41d20f8.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>{% block title %}Welcome Home{% endblock %}</title>
</head>
<body>
  {% block header %}
  <header></header>
  {% endblock %}

  {% block nav %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation"
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'basic_dashboard:home' %}">Home</a>
        <a class="nav-item nav-link" href="{% url 'basic_dashboard:get_weather' %}">Weather</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cryptos</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <form class="form-inline" action="{% url 'basic_dashboard:get_crypto' 'search' %}" method="POST">
              {% csrf_token %}
              <a class="dropdown-item" href="#">Crypto Search
                  <input name="searched" class="form-control mr-sm-2" type="search" placeholder="Crypto" aria-label="Search">
              </a>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'basic_dashboard:get_crypto' 'BTC' %}">BTC</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:get_crypto' 'ETH' %}">ETH</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Movies</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <form class="form-inline" action="{% url 'basic_dashboard:get_movie' %}" method="POST">
              {% csrf_token %}
              <a class="dropdown-item" href="#">Movie Search
                  <input name="searched" class="form-control mr-sm-2" type="search" placeholder="Movie" aria-label="Search">
              </a>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'basic_dashboard:latest_movie' %}">Latest</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:popular_movies' %}">Popular</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:top_rated_movies' %}">Top Rated</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:now_playing_movies' %}">Now Playing</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:upcoming_movies' %}">Upcoming</a>
            <div class="dropdown-divider"></div>
            <form class="form-inline" action="{% url 'basic_dashboard:get_movie_reviews' '0' %}" method="POST">
                {% csrf_token %}
                <a class="dropdown-item" href="#">Reviews
                    <input name="searched" class="form-control mr-sm-2" type="int" placeholder="Movie id..." aria-label="Search">
                </a>
            </form>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          TV Shows</a>
          <div class="dropdown-menu" aria-describedby="navbarDropdownMenuLink">
            <form class="form-inline" action="{% url 'basic_dashboard:get_tvshow' %}" method="POST">
              {% csrf_token %}
              <a class="dropdown-item" href="#">TV Show Search
                  <input name="searched" class="form-control mr-sm-2" type="search" placeholder="TV Show" aria-label="Search">
              </a>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'basic_dashboard:latest_tvshow' %}">Latest</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:popular_tvshows' %}">Popular</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:top_rated_tvshows' %}">Top Rated</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:upcoming_tvshows' %}">Coming</a>
            <a class="dropdown-item" href="{% url 'basic_dashboard:playing_today_tvshows' %}">On Air Today</a>
            <div class="dropdown-divider"></div>
            <form class="form-inline my-2 my-lg-0" action="{% url 'basic_dashboard:get_tvshow_reviews' '0' %}" method="POST">
                {% csrf_token %}
                <a class="dropdown-item" href="#">Reviews
                    <input name="searched" class="form-control mr-sm-2" type="int" placeholder="TV Show id..." aria-label="Search">
                </a>
            </form>
          </div>
        </li>
      </div>
    </div>
  </nav>
  {% endblock %}
  <hr />
  {% if messages.count != 0 %}
    <div class="container">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
  {% endif %}
  {% block content %}
  {% endblock %}
</body>
<br>
<footer>
  <div class="card card-inverse card-success">
      <div class="card-block">
          <p class="text-center">Developed By Babou.</p>
          <p class="text-center"><strong>Powered by Django.</strong></p>
      </div>
  </div>
</footer>
